.notify_count {
  position: absolute;
  top: -8px;
  right: 57px;
  background-color: #6ab33c;
  color: #fff;
  font-size: 0.7rem;
  padding: 3px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 35px;
  width: 25px;
  height: 25px;
  text-align: center;
}

.notify_count div {
  margin-top: 7px;
}
.nav-link {
  position: relative;
}
